.message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.message__image-container {
  height: 50px;
  width: 50px;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(192, 192, 192, 0.39);
}

.message__image {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.message__info {
  padding-left: 10px;
}

.message__timestamp {
  color: rgba(139, 139, 139, 0.856);
  font-weight: 400;
  font-size: 13px;
  padding-left: 10px;
}

.message__text {
  margin-top: 4px;
}
